/*div{
	border: 1px solid #000000;
}*/

#profileBigPicture{
    width: 100px;
    border: 3px solid #1F8E55;
    border-radius: 20px;
}

h1{
    font-size: 30px;
}

.card-body{
    overflow: auto;
    padding: 0;
    height: 260px;
}

#searchButton{
    background-color: #1F8E55;
    color: #FFFFFF;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    transition: 0.3s;
}

#searchButton:hover{
    background-color: #78d8a6;
}

.entriesSectionContainer{
    padding: 15px;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
}

#lastEntriesTitle{
    font-size: 25px;
}

#imageToUpload{
    margin-bottom: 20px;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #e1e1e1;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;
    border-radius: 12px;
    transition: 0.3s;
}

.custom-file-upload:hover {
    background-color: #1F8E55;
    color: #FFFFFF;
}

#updateTitle, #updateContent{
    border-radius: 10px;
    border: 1px solid #e1e1e1;
}

#updateTitle{
    height: 40px;
    margin-bottom: 20px;
}

#updateContent{
    height: 300px;
    margin-bottom: 20px;
    overflow: auto;
}

#submit{
    background-color: #78d8a6;
    transition: 0.3s;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
}

#submit:hover{
    background-color: #8ffac3;
}

#cancel{
    background-color: rgb(255, 187, 203);
    transition: 0.3s;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
}

#cancel:hover{
    background-color: rgb(255, 200, 213);
}

#delete{
    background-color: rgb(255, 132, 132);
    transition: 0.3s;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
}

#delete:hover{
    background-color: rgb(255, 187, 187);
}

#newButtonContainer{
    padding: 0px 0px 15px;

}

#newButton{
    background-color: #1F8E55;
    margin: none;
    color: #FFFFFF;
    padding: 6px;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.3s;
}

#newButton:hover{
    background-color: #78d8a6;
}